body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #872430, #ea354a);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    transition: all 0.3 ease;
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
}

.form-group {
    flex: 1 1 calc(50% - 0.5rem);
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.form-group.gender {
    justify-content: flex-start;
}

.form-group.full-width {
    flex-basis: 100%;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;  
}

.radio-group input[type="radio"] {
    margin: 0;
    width: 1.2em;
    height: 1.2em;
}

.radio-group label {
    display: inline;
    margin-left: 0.25rem;    
}

input[type="submit"] {
    background-color: #b52a3a;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
}

input[type="submit"]:hover {
    background-color: #9e2331;
}

.alert {
    padding: 0.75rem;
}

.alert-success {
    align-self: center;
    color: #155724;
}

.alert-danger {
    display: grid;
    justify-content: center;
    color: #721c24;
}


/* ------------------------------------- table ------------------------------------- */

.container-page {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    transition: all 0.3 ease;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
    .user-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .table-header {
    background-color: #db344d;
    color: #ffffff;
    padding: 0.75rem;
    text-align: left;
    font-weight: bold;
  }
  
  .table-row:hover {
    background-color: #e1e1e1;
  }
  
  .table-data {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
    color: #333;
  }
